@using App.Ads.Code.Helpers;
@model App.Core.Models.SearchModel
@section SearchBox{
    @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { id = "searchForm" }))
    {
        <div class="jumbotron home-search" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <p class="main_description">Search thousands of stores, brands, products and user classifieds all in one place</p>
                        <br><br>
                        <div class="row">

                            <div class="col-sm-8 col-sm-offset-2" style="text-align: center">
                                <div class="row">

                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="input-group">

                                            <span class="input-group-addon input-group-addon-text">Find me a</span>
                                            @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control col-sm-3", placeholder = "e.g. BMW, 2 bed flat, sofa" })

                                            <div class="input-group-addon hidden-xs">
                                                <div class="btn-group">
                                                    <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                                                        All categories <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="/listings/malaysia/car-and-vehicles">Cars, Vans &amp; Motorbikes</a></li>
                                                        <li><a href="/listings/malaysia/community">Community</a></li>
                                                        <li><a href="/listings/malaysia/property-for-sales">Condo &amp; Houses</a></li>
                                                        <li><a href="/listings/malaysia/stuff-for-sale">For Sale</a></li>
                                                        <li><a href="/listings/malaysia/jobs">Jobs</a></li>
                                                        <li><a href="/listings/malaysia/electronics">Electronics</a></li>
                                                        <li><a href="/listings/malaysia/services">Services</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center">
                                <button class="btn btn-primary search-btn">Search</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    }

}

<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-8">

            <div class="row directory">
                <div class="col-sm-12 ">
                    <h2><span>Directory listings</span></h2>
                </div>
            </div>

            <div class="row directory">
                <div class="col-xs-12">
                    @foreach (App.Core.Data.RefCategory category in ViewBag.ParentCategoryList)
                    {
                        <div class="directory-block col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <i class="@category.FaIcon"></i>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                                                {
                                                                    { "locationText", "malaysia" },
                                                                    { "categoryText", category.Name.ToSeoUrl() }
                                                                })" class="link-info">@category.DisplayName</a></h4>
                                    <p>
                                        @{
                        int count = 0;

                        foreach (App.Core.Data.RefCategory subCategory in ViewBag.CategoryList)
                        {
                            if (subCategory.ParentID == category.id)
                            {
                                <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                                                {
                                                                    { "locationText", "malaysia" },
                                                                    { "categoryText", subCategory.Name.ToSeoUrl() }
                                                                })">@subCategory.DisplayName</a><br />
                                if (++count == 5)
                                {
                                    <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                                                {
                                                                    { "locationText", "malaysia" },
                                                                    { "categoryText", category.Name.ToSeoUrl() }
                                                                })" class="link-info">More...</a>
                                    break;
                                }

                            }
                        }
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-md-4 ">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-12  col-lg-11 pull-right">
                    <br class="hidden-sm hidden-xs">
                    <br class="hidden-sm hidden-xs">
                    <br class="hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">Connect with us</div>
                        <div class="panel-body">
                            <div class="fb-like"
                                 data-share="true"
                                 data-width="250"
                                 data-show-faces="true">
                            </div>
                        </div>
                    </div>

                    @*<p class="main_slogan" style="margin: 28px 0">Currently listing 355,785 classified ads in the United Kingdom.</p>*@

                </div>
            </div>

        </div>

    </div>

</div>