@using App.Core.ViewModel;
@using App.Core.Models;
@using App.Ads.Code.Membership
@using App.Ads.Code.Helpers;

@model App.Ads.ViewModel.ListingDetailViewModel
@{
    ViewBag.Title = Model.Title + " | " + Model.Location.Name;
    ViewBag.OG_Title = Model.Title;
    ViewBag.OG_Desc = ListingHelper.FormatDescription(Model.Description, 100);
    ViewBag.OG_Image = Model.ListingImages.Count > 0 ? Url.Content(Model.UrlDomain + Model.CoverImage) : ViewBag.OG_Image;
}

@if (Model.Action == "appvl")
{
    Html.RenderAction("Action", "Listing", new { id = @Model.id, area = "admin" });
    @section AjaxError {
        @Html.Partial("_AjaxError")
    }
}

<div id="listings-page">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">

            <div class="row">

                <div class="col-sm-8">
                    <h1>@Model.Title</h1>
                    <p>
                        Location:
                        @if (Model.Area != null)
                        {
                            <span>@Model.Area.Name, @Model.Location.Name</span>
                        }
                        else
                        {
                            <span>@Model.Location.Name</span>
                        }
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="price">
                        @ListingHelper.FormatPrice(Model.Price)
                        @if (@Model.IsNegotiable)
                        {
                            <span>(Negotiable)</span>
                        }
                    </p>
                </div>

            </div>
           
            <hr style="margin-top:0px;">
            <div class="row">

                <div class="col-md-7">
                    <h3>Ad details</h3>

                    @*<div class="row">
                            <div class="col-xs-6">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <th>Make</th>
                                            <td>Porsche</td>
                                        </tr>
                                        <tr>
                                            <th>Model</th>
                                            <td>Boxster</td>
                                        </tr>
                                        <tr>
                                            <th>Mileage</th>
                                            <td>80,000 Kms</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-6">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <th>Year</th>
                                            <td>2007</td>
                                        </tr>
                                        <tr>
                                            <th>Type of car:</th>
                                            <td>4-door</td>
                                        </tr>
                                        <tr>
                                            <th>Body type</th>
                                            <td>Estate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>*@

                    @Html.Raw(Server.HtmlDecode(@Model.Description))

                    @*<p>
                            <span class="classified_links ">
                                <a class="link-info" href="#"><i class="fa fa-share"></i> Share</a>&nbsp;
                                <a class="link-info " href="#"><i class="fa fa-star"></i> Add to favorites</a>
                                &nbsp;<a class="link-info " href="#"><i class="fa fa-envelope-o"></i> Contact</a>
                                &nbsp;<a class="link-info fancybox-media" href="http://maps.google.com/?ll=48.85796,2.295231&amp;spn=0.003833,0.010568&amp;t=h&amp;z=17"><i class="fa fa-map-marker"></i> Map</a>
                            </span>
                        </p>*@
                </div>

                <div class="col-md-5 center zoom-gallery">
                    <p class="pull-right">Ad ID: @Model.id | Posted @Html.Raw(Model.PostedDate.ToRelativeDate()) </p>

                    <div class="row center">
                        <div class="col-sm-12">
                            @if (Model.ListingImages.Count > 0)
                            {
                                <a class="img-responsive fancybox thumbnail" rel="group" href="@Url.Content(Model.UrlDomain + Model.CoverImage)">
                                    <img alt="Cover Image"src="@Url.Content(Model.UrlDomain + Model.CoverImage)">
                                </a>
                                <div class="row" id="gallery">
                                    @foreach (var item in Model.ListingImages)
                                    {
                                        if (!item.IsCover)
                                        {
                                            <div class="col-xs-4">
                                                <a href="@Url.Content(Model.UrlDomain + item.Src)" class="img-responsive fancybox thumbnail" rel="group" title=@item.Description>
                                                    <img src="@Url.Content(Model.UrlDomain + item.Thumnbnail)" alt="@item.Description">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-12" style="text-align: center; margin: 0 auto">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-glow success" style="text-align: center;width: 180px; " type="button">Reply to ad</button>
                        <br>
                        <p>or call @Model.UserProfile.FirstName on @Model.UserProfile.Mobile</p>
                    </div>
                    <br>
                </div>

            </div>

        </div>
    </div>
</div>

@*@Html.Partial("_enquiry", new Tuple<AdDetailViewModel, SendEnquiryModel>(Model, new SendEnquiryModel()))*@

@Html.Partial("_Enquiry", ViewData["EnquiryViewData"])
