@using App.Core.ViewModel;
@using App.Core.Models;
@using App.Ads.Code.Membership
@using App.Ads.Code.Helpers;

@model App.Ads.ViewModel.ListingDetailViewModel
@{
    ViewBag.Title = Model.Title + " | " + Model.Location.Name;
    ViewBag.OG_Title = Model.Title;
    ViewBag.OG_Desc = ListingHelper.FormatDescription(Model.Description, 100);
    ViewBag.OG_Image = Model.ListingImages.Count > 0 ? Url.Content(Model.UrlDomain + Model.CoverImage) : ViewBag.OG_Image;
    CommonHelper common = new CommonHelper();
}

@if (Model.Action == "appvl")
{
    Html.RenderAction("Action", "Listing", new { id = @Model.id, area = "admin" });
    @section AjaxError {
        @Html.Partial("_AjaxError")
    }
}

<div id="listings-page">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">
            <div class="row">
                <div class="col-sm-8">
                    <h1> @Model.Title</h1>
                    <p>
                        Location:
                        @if (Model.Area != null)
                        {
                        <span>@Model.Area.Name, @Model.Location.Name</span>
                        }
                        else
                        {
                        <span>@Model.Location.Name</span>
                        }
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="price">
                        @if (Model.ContactMe)
                        {
                        <small>Contact me for price</small>
                        }
                        else
                        {
                        <span>@ListingHelper.FormatPrice(Model.Price)</span>
                            if (Model.IsNegotiable)
                            {
                        <span>(Negotiable)</span>
                            }
                        }
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-3" style="width: 100px;">
                            <div class="fb-share-button" data-href="@Request.Url.AbsoluteUri" data-layout="button_count"></div>
                        </div>
                        <div class="col-xs-3" style="width: 100px;">
                            <div class="g-plus" data-action="share" data-annotation="bubble" data-href="@Request.Url.AbsoluteUri"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">

                <div class="col-md-7">
                    <h3>Ad details</h3>

                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Condition</th>
                                        <td>
                                            @{
                                                string conditionLabel = common.GetReferenceLabel(Model.ConditionCode);
                                                if (!string.IsNullOrEmpty(conditionLabel))
                                                {
                                            <span>
                                                @conditionLabel
                                            </span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Posted</th>
                                        <td>@Model.PostedDate.ToRelativeDate()</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @Html.Raw(Server.HtmlDecode(@Model.Description))

                    <p>
                        <span class="classified_links">
                            &nbsp;
                            @if (Model.ContactMethod != "P")
                            {
                                <a class="link-info" data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-envelope-o"></i> Contact</a>
                            } 
                            &nbsp;
                            @if (Model.Lat > 0)
                            {
                                @Html.HiddenFor(m => m.Lat, new { id = "Lat" })
                                @Html.HiddenFor(m => m.Lng, new { id = "Lng" })
                                @Html.HiddenFor(m => m.Place, new { id = "Place" })
                                <a class="link-info" data-toggle="modal" data-target="#mapModal" href="#"><i class="fa fa-map-marker"></i> Map</a>
                            }
                        </span>
                    </p>
                </div>

                <div class="col-md-5 center zoom-gallery">
                    <p class="pull-right">Ad ID: @Model.id | Advertised by: @Model.UserProfile.FirstName</p>

                    <div class="row center">
                        <div class="col-sm-12">
                            @if (Model.ListingImages.Count > 0)
                            {
                            <a class="img-responsive fancybox thumbnail" rel="group" href="@Url.Content(Model.UrlDomain + Model.CoverImage)">
                                <img alt="Cover Image" class="big-image" src="@Url.Content(Model.UrlDomain + Model.CoverImage)">
                            </a>
                            <div class="row" id="gallery">
                                @foreach (var item in Model.ListingImages)
                                    {
                                        if (!item.IsCover)
                                        {
                                    <div class="col-xs-4">
                                        <a href="@Url.Content(Model.UrlDomain + item.Src)" class="img-responsive fancybox thumbnail" rel="group" title=@item.Description>
                                            <img src="@Url.Content(Model.UrlDomain + item.Thumnbnail)" alt="@item.Description">
                                        </a>
                                    </div>
                                        }
                                    }
                            </div>
                            }
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-12" style="text-align: center; margin: 0 auto">
                        @if (Model.ContactMethod != "P")
                        {
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-glow success" style="text-align: center;width: 180px; " type="button">Reply to ad</button>
                        }
                        @if (Model.ContactMethod != "E")
                        {
                        <div id="phoneno" data-number="@Model.UserProfile.Mobile">
                            Call @Model.UserProfile.FirstName on <span class="contact-phoneno">@Model.UserProfile.Mobile.Substring(0, 7)xxxx</span>
                        </div>
                        }
                    </div>
                    <br>
                </div>

            </div>

        </div>

    </div>
</div>


<!--Map Modal-->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p>@Model.Place</p>
            </div>
            <div class="modal-body">
                <div id="map-canvas" style="width: 100%; height: 600px"></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Enquiry", ViewData["EnquiryViewData"])

<script type="text/javascript">
    var map;
    $(document).ready(function () {

        $('#phoneno').click(function () {
            $(this).find('span').text($(this).data('number'));
        });

        $("#mapModal").on("shown.bs.modal", function () {
            initialiseMap();
        });

        function initialiseMap() {

            var mylat = $('#Lat').val();
            var mylng = $('#Lng').val();

            console.log(mylat);

            var mapOptions = {
                center: new google.maps.LatLng(mylat, mylng),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 16
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(mylat, mylng),
                map: map,
                title: $('#Place').val()
            });
        }

    });


</script>
