@using App.Core.ViewModel;
@using App.Core.Models;
@using App.Ads.Code.Membership
@using App.Ads.Code.Helpers;

@model App.Ads.ViewModel.ListingDetailViewModel
@{
    ViewBag.Title = Model.Title + " | " + Model.Location.Name;
    ViewBag.OG_Title = Model.Title;
    ViewBag.OG_Desc = ListingHelper.FormatDescription(Model.Description, 100);
    ViewBag.OG_Image = Model.ListingImages.Count > 0 ? Url.Content(Model.UrlDomain + Model.CoverImage) : ViewBag.OG_Image;
}

@if (Model.Action == "appvl")
{
    Html.RenderAction("Action", "Listing", new { id = @Model.id, area = "admin" });
    @section AjaxError {
        @Html.Partial("_AjaxError")
    }
}

<div id="listings-page">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">

            <div class="row">

                <div class="col-sm-8">
                    <h1>@Model.Title</h1>
                    <p>
                        Location:
                        @if (Model.Area != null)
                        {
                            <span>@Model.Area.Name, @Model.Location.Name</span>
                        }
                        else
                        {
                            <span>@Model.Location.Name</span>
                        }
                    </p>
                </div>

                <div class="col-sm-4">
                    <p class="price">
                        @ListingHelper.FormatPrice(Model.Price)
                        @if (@Model.IsNegotiable)
                        {
                            <span>(Negotiable)</span>
                        }
                    </p>
                </div>

            </div>
            @*<div class="row">

                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-xs-3" style="width: 100px;">
                                <!-- Place this tag where you want the share button to render. -->
                                <div id="___plus_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 85px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 85px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1400908404714" name="I0_1400908404714" src="https://apis.google.com/u/0/_/+1/sharebutton?plusShare=true&amp;usegapi=1&amp;action=share&amp;annotation=bubble&amp;origin=http%3A%2F%2Ftemplates.expresspixel.com&amp;url=http%3A%2F%2Ftemplates.expresspixel.com%2Fbootlistings%2Fdetails.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_GB.1RvwTz7I2s8.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTOP1v6Flk6goWTeFkAtxrQt3Aasqw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1400908404714&amp;parent=http%3A%2F%2Ftemplates.expresspixel.com&amp;pfname=&amp;rpctoken=14455287" data-gapiattached="true" title="+Share"></iframe></div>

                                <!-- Place this tag after the last share tag. -->
                                <script type="text/javascript">
                                    (function () {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/platform.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </div>
                            <div class="col-xs-3" style="width: 100px;">
                                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1400006231.html#_=1400908404774&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Ftemplates.expresspixel.com%2Fbootlistings%2Fdetails.html&amp;size=m&amp;text=BootListings%20-%20A%20Bootstrap%20Classifieds%20template&amp;url=http%3A%2F%2Ftemplates.expresspixel.com%2Fbootlistings%2Fdetails.html" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 109px; height: 20px;"></iframe>
                                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                            </div>

                            <div class="col-xs-3" style="width: 100px;">
                                <div class="fb-share-button fb_iframe_widget" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;href=http%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;locale=en_GB&amp;sdk=joey&amp;type=button_count"><span style="vertical-align: bottom; width: 86px; height: 20px;"><iframe name="f14cb4847c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:share_button Facebook Social Plugin" src="http://www.facebook.com/plugins/share_button.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FdgdTycPTSRj.js%3Fversion%3D41%23cb%3Dffe63040c%26domain%3Dtemplates.expresspixel.com%26origin%3Dhttp%253A%252F%252Ftemplates.expresspixel.com%252Ffe5461054%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;locale=en_GB&amp;sdk=joey&amp;type=button_count" style="border: none; visibility: visible; width: 86px; height: 20px;" class=""></iframe></span></div>
                            </div>
                        </div>

                    </div>
                </div>*@
            <hr style="margin-top:0px;">
            <div class="row">

                <div class="col-md-7">
                    <h3>Ad details</h3>

                    @*<div class="row">
                            <div class="col-xs-6">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <th>Make</th>
                                            <td>Porsche</td>
                                        </tr>
                                        <tr>
                                            <th>Model</th>
                                            <td>Boxster</td>
                                        </tr>
                                        <tr>
                                            <th>Mileage</th>
                                            <td>80,000 Kms</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-6">
                                <table class="table">

                                    <tbody>
                                        <tr>
                                            <th>Year</th>
                                            <td>2007</td>
                                        </tr>
                                        <tr>
                                            <th>Type of car:</th>
                                            <td>4-door</td>
                                        </tr>
                                        <tr>
                                            <th>Body type</th>
                                            <td>Estate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>*@

                    @Html.Raw(Server.HtmlDecode(@Model.Description))

                    @*<p>
                            <span class="classified_links ">
                                <a class="link-info" href="#"><i class="fa fa-share"></i> Share</a>&nbsp;
                                <a class="link-info " href="#"><i class="fa fa-star"></i> Add to favorites</a>
                                &nbsp;<a class="link-info " href="#"><i class="fa fa-envelope-o"></i> Contact</a>
                                &nbsp;<a class="link-info fancybox-media" href="http://maps.google.com/?ll=48.85796,2.295231&amp;spn=0.003833,0.010568&amp;t=h&amp;z=17"><i class="fa fa-map-marker"></i> Map</a>
                            </span>
                        </p>*@
                </div>

                <div class="col-md-5 center zoom-gallery">
                    <p class="pull-right">Ad ID: @Model.id | Posted @Html.Raw(Model.PostedDate.ToRelativeDate()) </p>

                    <div class="row center">
                        <div class="col-sm-12">
                            @if (Model.ListingImages.Count > 0)
                            {

                                <a class="fancybox" rel="group" href="@Url.Content(Model.UrlDomain + Model.CoverImage)">
                                    <img alt="Cover Image" class="raised" src="@Url.Content(Model.UrlDomain + Model.CoverImage)" width="100%">
                                </a>
                                <br>
                                <br>
                                <div class="row" id="gallery">
                                    @foreach (var item in Model.ListingImages)
                                    {
                                        if (!item.IsCover)
                                        {
                                            <div class="col-xs-4">
                                                <a href="@Url.Content(Model.UrlDomain + item.Src)" class="img-responsive fancybox thumbnail" rel="group" title=@item.Description>
                                                    <img src="@Url.Content(Model.UrlDomain + item.Thumnbnail)" alt="@item.Description">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-12" style="text-align: center; margin: 0 auto">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-glow success" style="text-align: center;width: 180px; " type="button">Reply to ad</button>
                        <br>
                        <p>or call @Model.UserProfile.FirstName on @Model.UserProfile.Mobile</p>
                    </div>
                    <br>
                </div>

            </div>

        </div>
    </div>
</div>

@*@Html.Partial("_enquiry", new Tuple<AdDetailViewModel, SendEnquiryModel>(Model, new SendEnquiryModel()))*@

@Html.Partial("_Enquiry", ViewData["EnquiryViewData"])
