@*@model App.Core.ViewModel.EditListingViewModel*@
@Styles.Render("~/Content/common")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/css/form")

<div data-ng-app="shopApp" class="gallery" data-ng-controller="ListingImageCtrl">
    <form name="formUpload" method="post" fileupload enctype="multipart/form-data" action="/api/image/uploads">
        <!-- No File -->
        <input type="hidden" value="1" id="ListingId" name="ListingId" />
        <!-- Alert -->
        <div class="alert alert-{{alert.type}} alert-dismissable" data-ng-show="alert.display">
            <a class="close" data-ng-click="alert.display=false" href="#">&times;</a>
            <div data-ng-bind-html="alert.message"></div>
        </div>
        <div class="no-gallery" data-ng-show="!draftFiles.length && !files.length">
            <div class="center">
                <img src="http://detail.herokuapp.com/img/no-img-gallery.png" alt="no-gallery">
                <p class="no-gallery-label">You don't have any images</p>
                <p>Click 'Add Image' to attach photos or drag & drop your photos here.</p>
                <div class="btn-glow primary fileinput-button">
                    <i class="fa fa-plus"></i>
                    <input id="file-input" name="image" type="file" multiple accept="image/*" />
                    <span>Add new image</span>
                </div>
            </div>
        </div>
        <div class="gallery-wrapper" data-ng-show="files.length || draftFiles.length">
            <div class="row gallery-row">
                <!-- Image -->
                <div class="col-xs-3 col-md-3 img-container" data-ng-repeat="file in files">
                    <div class="img-box">
                        <span class="icon edit" data-ng-click="edit(file)">
                            <a><i class="gallery-edit"></i></a>
                        </span>
                        <span class="icon trash" data-ng-click="delete(file)">
                            <i class="gallery-trash"></i>
                        </span>
                        <img data-ng-src="{{file.Url}}" class="img-responsive" alt="picture">
                        @*<p class="title" data-ng-show="file.Description">
                                {{file.Description}}
                            </p>
                            <p class="title" data-ng-show="!file.Description">
                                &lt;No Description&gt;
                            </p>*@
                    </div>
                </div>
                <!-- Spinner -->
                <div data-ng-repeat="file in draftFiles">
                    <div class="col-xs-3 col-md-3 img-container">
                        <div class="img-box">
                            <div class="spin-{{$index + 1}} img-spin-box"></div>
                        </div>
                    </div>
                </div>
                <!-- new image button -->
                <div class="col-xs-3 col-md-3 new-img" data-ng-hide="totalFiles >= 8 || files.length >= 8">
                    <div class="img-box">
                        <label for="file-input">
                            <div class="addnew">
                                <i class="fa fa-plus fa-4x"></i>
                            </div>
                        </label>
                        <input id="file-input" name="image" type="file" multiple accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal - Delete Image -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title">Are you sure you want to delete - {{file.Description}} ?</h4>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-ng-click="deleteImage()">Delete</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/plugin")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angularstrap")
@Scripts.Render("~/bundles/validation")
@Scripts.Render("~/bundles/form")
<script>
    window.data = {
        id: '@ViewBag.id'
    };
</script>