@using App.Ads.Code.Membership

@model App.Core.ViewModel.EditListingViewModel

@{
    ViewBag.Title = "Post ad - OhMyBazaar.com";
}

@section Style{
    @Styles.Render("~/Content/css/form")
}

<div class="col-sm-3">
    @Html.Partial("~/Views/PartialView/_sidepanel.cshtml")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var identity = HttpContext.Current.User.ToCustomPrincipal().CustomIdentity;

    <div class="col-sm-9">
        <div class="form-vertical">
            <div class="panel panel-default">
                <div class="panel-heading">Choose category</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 margin-top-10">
                                <label>Category</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Choose a Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CategoryId)
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="control-group col-xs-12 col-sm-offset-3">
                                @{
                                    List<App.Core.Data.RefTable> rbValues = (List<App.Core.Data.RefTable>)ViewBag.ListingTypeList;
                                }
                                @foreach (var item in rbValues)
                                {
                                    <div class=" col-xs-12 col-sm-2">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.ListingTypeCode, item.Code) @item.Name
                                        </label>
                                    </div>
                                }
                                @Html.ValidationMessageFor(model => model.ListingTypeCode)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Ad details</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label">Condition</label>
                            <div class="col-sm-6">
                                @{
                                    List<App.Core.Data.RefTable> rbValues2 = (List<App.Core.Data.RefTable>)ViewBag.ConditionList;
                                }
                                @foreach (var item in rbValues2)
                                {
                                    <div class=" col-xs-12 col-sm-4">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.ConditionCode, item.Code) @item.Name
                                        </label>
                                    </div>
                                }
                                @Html.ValidationMessageFor(m => m.ConditionCode)

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <label>Title </label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Ad Title" })
                                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-inline" })
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <label>Description </label>
                                @*, placeholder = "Put your product info such as Brand, Model and so on."*@
                                @Html.TextAreaFor(m => m.Description, new { @rows = "6", @class = "form-control ckEditorMini" })
                                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-inline" })
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <label>Keywords</label>
                                @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control", placeholder = "Enter keywords that related to your product, e.g - brands, model" })
                                @Html.ValidationMessageFor(m => m.Keywords, null, new { @class = "help-inline" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Dealing methods</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.COD)
                                        Cash On Delivery
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.CODText, new { @class = "form-control", placeholder = "Where to meet - Mid Valley, Petrol station and etc" })
                                @Html.ValidationMessageFor(m => m.CODText)
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Postage)
                                        Postage
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.PostageText, new { @class = "form-control", placeholder = "PosLaju, Free Delivery, Delivery Fees and etc" })
                                @Html.ValidationMessageFor(m => m.Postage)
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.OnlineBanking)
                                        Online Banking
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.OnlineBankingText, new { @class = "form-control", placeholder = "Your Bank Details" })
                                @Html.ValidationMessageFor(m => m.OnlineBanking)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Add photos</div>
                <div class="panel-body">
                    <iframe id="iPhoto" src="@Url.Action("Image", new { ListingId = Model.id })" width="670" height="420" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Your price</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "How much do you want it to be listed for?" })
                                @Html.ValidationMessageFor(m => m.Price)
                                <p><small>You can adjust your price anytime you like, even after your listing is published.</small></p>
                            </div>
                            <div class="col-sm-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsNegotiable)
                                        Negotiable
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel panel-default" data-ng-controller="RegionCtrl">
                <div class="panel-heading">Your Details</div>
                <div class="panel-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                @identity.FirstName
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Contact</label>
                            <div class="col-sm-9">
                                012-9044822
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                @identity.Email
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 margin-top-10">
                                <label>Contact Method</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.ContactMethod, ViewBag.Contacts as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ContactMethod)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 margin-top-10">
                                <label>Location</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.LocationId, ViewBag.LocationList as IEnumerable<SelectListItem>, "Select a Location", new { id = "LocationId", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LocationId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 margin-top-10">
                                <label>Area</label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.AreaId, ViewBag.AreaList as IEnumerable<SelectListItem>, "--- All Area ---", new { id = "AreaId", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AreaId)
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn-glow btn-finish">Save for later</button>
                </div>
                <div class="btn-group">
                    <input type="submit" class="btn-glow primary btn-finish" value="Continue" />
                </div>
            </div>



        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/form")
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#ddlCategory').select2({
                    placeholder: "Select a Category"
                });
                $('#ddlRegion').select2({
                    placeholder: "Select a Location"
                });
                $('#ddlCondition').select2({
                    placeholder: "Select Condition"
                });
                $('.select2').select2();
            });
        </script>*@
}
