@model App.Core.Data.UserProfile

@{
    var membership = (App.Core.Data.Membership)ViewBag.Membership;
    var sendEmailModel = (App.Core.Models.SendEmailModel)ViewBag.SendEmailModel;
    var activationLink = sendEmailModel.WebsiteURL + Url.Action("index", "changepassword", new { uid = membership.UserId, guid = membership.PasswordVerificationToken, area = "account" });
}

<p>
    Hi, @Model.LastName!
</p>
<br /> <br />

<p>
    You have requested to reset your password. Please proceed with the following link:
</p>

<br />
<p>
    <a href="@activationLink">@activationLink</a>
</p>

<br />

----------------
<p>
    <a href="@sendEmailModel.WebsiteURL">@sendEmailModel.WebsiteName</a> - @sendEmailModel.WebsiteTitle
</p>
<br />
<small>This message is genearted automatically.</small>