@using App.Ads.Code.Membership
@if (Request.IsAuthenticated)
{
    <div class="collapse navbar-collapse">
        @using (Html.BeginForm("index", "logoff", FormMethod.Post, new { id = "logoutForm", area = "account" }))
        {

            var identity = HttpContext.Current.User.ToCustomPrincipal().CustomIdentity;
            @Html.AntiForgeryToken()
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        @Html.ActionLink("Post an ad", "create", "listing", new { area = "" }, new { @class = "btn btn-warning post-ad-btn" })
                        <span>&nbsp;</span>
                    </div>
                </li>
                <li>
                    <div>
                        <b>Welcome</b>
                        @Html.ActionLink(identity.FirstName, "manage", "listing", new { area = "" }, null)
                        <span>&nbsp; |</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>&nbsp;</span>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log off</a>
                    </div>
                </li>
            </ul>
        }
    </div>
}
else
{
    <div class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-right">
            <div class="row">
                @Html.ActionLink("Register", "index", "register", new { area = "account" }, null) |
                @Html.ActionLink("Login", "index", "login", new { area = "account" }, null)
                @Html.ActionLink("Post an ad", "create", "listing", new { area = "" }, new { @class = "btn btn-warning post-ad-btn" })
            </div>
        </div>
    </div>
}
