@model App.Ads.ViewModel.AccountEditViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("ChangePassword", "Edit", new { area = "Account" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">

            <form class="form-vertical">
                <fieldset>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Old password</label>
                                @Html.PasswordFor(model => model.ChangePassword.OldPassword, new { @class = "form-control", placeholder = "Enter your old password", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ChangePassword.OldPassword)
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @Html.PasswordFor(model => model.ChangePassword.Password, new { @class = "form-control", placeholder = "Make sure your password is longer than 6 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ChangePassword.Password)
                            </div>
                            <div class="form-group">
                                <label>Confirm new password</label>
                                @Html.PasswordFor(model => model.ChangePassword.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ChangePassword.ConfirmPassword)
                            </div>
                            <button type="submit" class="btn-glow success">Update Password</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

}