@using App.Ads.Code;
@using App.Ads.Code.Helpers;

@model Tuple<PagedList.IPagedList<App.Ads.ViewModel.SearchViewModel>, App.Core.Models.SearchModel>

@*@model Tuple<List<App.Ads.ViewModel.SearchViewModel>, App.Core.Models.SearchModel>*@

@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.SearchTitle + "-" + ViewBag.SiteName;
    CommonHelper common = new CommonHelper();
}

<div>
    @section SearchBox{
        @Html.Partial("~/Views/PartialView/_Searchbox.cshtml", @Model.Item2)
    }

    @section PageTitle {
        <h1 class="text-capitalize">@ViewBag.SearchTitle</h1>
    }

    @if (Model.Item1.Count == 0)
    {
        <div class="row">
            <div class="col-sm-12">
                <h2>No ads were found!</h2>
                <div>We could not find any ads matching your search.</div>
                <h3>@Html.ValidationSummary()</h3>
            </div>
        </div>
    }
    else
    {
        
        <div class="row">
            <div class="col-md-4 hidden-xs">

                <ul class="side-nav list-group" id="sidebarnav">

                    <li class="list-group-item list-toggle active">
                        <!-- NOTE: "active" to be open on page load -->
                        <a data-toggle="collapse" data-parent="#sidebarnav" href="#collapse-1" class="collapsed">Women</a>
                        <ul id="collapse-1" class="collapse in">
                            <!-- NOTE: "collapse in" to be open on page load -->
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Clothes</a></li>
                            <li class="active"><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shoes</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Dress</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Lingerie</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item list-toggle">
                        <!-- NOTE: "active" to be open on page load -->
                        <a data-toggle="collapse" data-parent="#sidebarnav" href="#collapse-2" class="">Men</a>
                        <ul id="collapse-2" class="collapse">
                            <!-- NOTE: "collapse in" to be open on page load -->
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Clothes</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shoes</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Dress</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Lingerie</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item list-toggle">
                        <!-- NOTE: "active" to be open on page load -->
                        <a data-toggle="collapse" data-parent="#sidebarnav" href="#collapse-3" class="collapsed">Kids</a>
                        <ul id="collapse-3" class="collapse">
                            <!-- NOTE: "collapse in" to be open on page load -->
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Clothes</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Shoes</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Dress</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Lingerie</a></li>
                            <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Toys</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item"><a href="shop-page-sidebar.html">Accessories</a></li>
                    <li class="list-group-item"><a href="shop-page-sidebar.html">Jewlery</a></li>

                </ul>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-4" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-8 listings">
                <div class="row listing-row" style="margin-top: -10px;">
                    <div class="pull-right">
                        <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
                        <a href="@Url.Action("Index", "Search",
                            new RouteValueDictionary
                            {
                                { "type", Model.Item2.type},
                                { "cid" , Model.Item2.cid},
                                { "lid" , Model.Item2.lid},
                                { "aid" , Model.Item2.aid},
                                { "keyword", Model.Item2.Keyword },
                                { "sort", ViewBag.DateSortParm }
                            }, null)" data-toggle="tooltip" data-placement="top" data-original-title="@ViewBag.DateSortTooltips">&nbsp;Date&nbsp;<i class="@ViewBag.DateSortIcon"></i></a>

                        <a href="@Url.Action("Index", "Search",
                            new RouteValueDictionary
                            {
                                { "type", Model.Item2.type},
                                { "cid" , Model.Item2.cid},
                                { "lid" , Model.Item2.lid},
                                { "aid" , Model.Item2.aid},
                                { "keyword", Model.Item2.Keyword },
                                { "sort", ViewBag.PriceSortParm }
                            }, null)" data-toggle="tooltip" data-placement="top" data-original-title="@ViewBag.PriceSortTooltips">&nbsp;Price&nbsp;<i class="@ViewBag.PriceSortIcon"></i></a>
                    </div>
                </div>
                @foreach (var item in Model.Item1)
                {
                    <div class="row listing-row">
                        <div class="col-sm-3">
                            <a href="@Url.Action("Save", new { id = item.id })" class="thumbnail">
                                <img src="@ListingHelper.GetCoverImage(item.ListingImages.ToList(), "s0")" alt="@item.Title" onerror="imgError(this, 190, 130)">
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-9 col-sm-9">
                                    <h3>
                                        <a href="/ad/@item.id/@item.Title.ToSeoUrl()" class="listing-title">@item.Title</a>
                                    </h3>
                                    <div class="listing-price">
                                        <strong>@ListingHelper.FormatPrice(item.Price)</strong>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <div class="pull-right listing-view">
                                        @item.PostedDate.ToString("d MMM, hh:mm")
                                        <br />
                                        @if (item.Area != null)
                                        {
                                            <span>@item.Area.Name</span>
                                        }
                                        else
                                        {
                                            <span>@item.Location.Name</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div>
                                <p class="muted">
                                    @ListingHelper.FormatDescription(item.Description, 200)
                                </p>
                            </div>

                            <div class="listing-info">
                                @if (item.RefCategory != null)
                                {
                                    <label class="label label-success label-small">
                                        <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                            {
                                                { "locationText", "malaysia" },
                                                { "categoryText", @item.RefCategory.Name.ToSeoUrl() }
                                            })">
                                            <i class="fa fa-tag"></i>
                                            <span>@item.RefCategory.Name</span>
                                        </a>
                                    </label>
                                    <span>&nbsp;</span>
                                    string conditionLabel = common.GetReferenceLabel(item.ConditionCode);
                                    if (!string.IsNullOrEmpty(conditionLabel))
                                    {
                                        <label class="label label-color-2 label-small">
                                            @conditionLabel
                                        </label>
                                    }
                                }
                            </div>

                            <span class="classified_links pull-right">
                                <a class="link-info underline" href="#">Share</a>&nbsp;
                                <a class="link-info underline" href="#">Add to favorites</a>
                                &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                                &nbsp;<a class="link-info underline" href="#">Contact</a>
                            </span>
                        </div>
                    </div>
                }

                <div class="pull-right">
                    @Html.PagedListPager(Model.Item1, page => Url.Action("Index",
                         new
                         {
                             page,
                             sort = ViewBag.CurrentSort,
                             Model.Item2.type,
                             Model.Item2.cid,
                             Model.Item2.lid,
                             Model.Item2.aid,
                             Model.Item2.Keyword
                         }))
                </div>

            </div>

        </div>

    }
</div>