@using App.Ads.Code;
@using App.Ads.Code.Helpers;
@using App.Ads.Models;

@model Tuple<PagedList.IPagedList<App.Ads.ViewModel.SearchViewModel>, App.Core.Models.SearchModel>

@*@model Tuple<List<App.Ads.ViewModel.SearchViewModel>, App.Core.Models.SearchModel>*@

@using PagedList.Mvc;
@{
    System.Globalization.CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;
    System.Globalization.TextInfo textInfo = cultureInfo.TextInfo;

    ViewBag.Title = ViewBag.SearchTitle != null ? textInfo.ToTitleCase(ViewBag.SearchTitle) : "";
    CommonHelper common = new CommonHelper();
}

<div>
    @section SearchBox{
        @Html.Partial("~/Views/PartialView/_Searchbox.cshtml", @Model.Item2)
    }

    @section PageTitle {
        <h1 class="text-capitalize">@ViewBag.SearchTitle</h1>
    }


    <div class="row">
        <div class="col-md-4 hidden-xs">
            <div class="sidebar">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Refine category</div>
                            <div class="panel-body">
                                <ul class="nav nav-category">
                                    <li>
                                        <a href="/listings/malaysia">All categories</a>
                                        @{

                                                Menu menu = ViewBag.Menu;
                                                if (menu != null) {
                                            @ShowTree(menu, null)
                                                }
                                            @helper ShowTree(Menu menu, int? parentId)
                                                {
                                                    int cPid = 0;
                                            <ul>
                                                @foreach (MenuItem menuItem in menu.MenuItems)
                                                        {
                                                            if (menuItem.ParentId == parentId)
                                                            {
                                                                if (menu.Id == menuItem.Id)
                                                                {
                                                        <li>
                                                            <a class="active" href="@Url.Action("Index", "Search", new RouteValueDictionary
                                                                        {
                                                                            { "locationText", "malaysia" },
                                                                            { "categoryText", menuItem.ActionName.ToSeoUrl() }
                                                                        })"><strong>@menuItem.Name</strong></a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                        <li>
                                                            <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                                                        {
                                                                            { "locationText", "malaysia" },
                                                                            { "categoryText", menuItem.ActionName.ToSeoUrl() }
                                                                        })">@menuItem.Name</a>
                                                                    </li>
                                                                }

                                                                cPid = menuItem.Id;
                                                            }
                                                        }
                                                @if (cPid != 0)
                                                        {
                                                        @ShowTree(menu, (int?)cPid);
                                                        }
                                            </ul>
}
                                        }
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 listings">
            @if (Model.Item1.Count == 0)
            {
                if(!Html.ViewData.ModelState.IsValid)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>@Html.ValidationSummary()</h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="text-align:center">No ads were found.</h2>
                            <div style="text-align:center">Sorry, we could not find any ads matching your search.</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row listing-row" style="margin-top: -10px;">
                    <div class="pull-right">
                        <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
                        <a href="@Url.Action("Index", "Search",
                            new RouteValueDictionary
                            {
                                { "type", Model.Item2.type},
                                { "cid" , Model.Item2.cid},
                                { "lid" , Model.Item2.lid},
                                { "aid" , Model.Item2.aid},
                                { "keyword", Model.Item2.Keyword },
                                { "sort", ViewBag.DateSortParm }
                            }, null)" data-toggle="tooltip" data-placement="top" data-original-title="@ViewBag.DateSortTooltips">&nbsp;Date&nbsp;<i class="@ViewBag.DateSortIcon"></i></a>

                        <a href="@Url.Action("Index", "Search",
                            new RouteValueDictionary
                            {
                                { "type", Model.Item2.type},
                                { "cid" , Model.Item2.cid},
                                { "lid" , Model.Item2.lid},
                                { "aid" , Model.Item2.aid},
                                { "keyword", Model.Item2.Keyword },
                                { "sort", ViewBag.PriceSortParm }
                            }, null)" data-toggle="tooltip" data-placement="top" data-original-title="@ViewBag.PriceSortTooltips">&nbsp;Price&nbsp;<i class="@ViewBag.PriceSortIcon"></i></a>
                    </div>
                </div>
                foreach (var item in Model.Item1)
                {
                    <div class="row listing-row">
                        <div class="col-sm-3">
                            <a href="/ad/@item.id/@item.Title.ToSeoUrl()" class="thumbnail">
                                <img src="@Url.Content(@item.UrlDomain + @ListingHelper.GetCoverImage(item.ListingImages.ToList(), "s0"))" alt="@item.Title" onerror="imgError(this, 190, 130)">
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8">
                                    <h3>
                                        <a href="/ad/@item.id/@item.Title.ToSeoUrl()" class="listing-title">@ListingHelper.FormatDescription(item.Title, 100)</a>
                                    </h3>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="pull-right listing-view">
                                        <strong>@ListingHelper.FormatPrice(item.Price)</strong>
                                        <br/>
                                            @item.PostedDate.ToRelativeDate()
                                    </div>
                                </div>
                            </div>

                            <div>
                                <p class="muted">
                                    @ListingHelper.FormatDescription(item.Description, 200)
                                </p>
                            </div>

                            <div class="listing-info">
                                @if (item.Area != null)
                                {
                                     <label class="label label-color-11 label-small">
                                         <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                            {
                                                { "locationText", @item.Location.Name.ToSeoUrl() },
                                                { "categoryText", "" }, 
                                                { "aid", @item.Area.id}
                                            })">
                                             <i class="fa fa-map-marker"></i>
                                             <span>@item.Area.Name</span>
                                         </a>
                                     </label>
                                }
                                else
                                {
                                    <label class="label label-color-11 label-small">
                                        <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                            {
                                                { "locationText", @item.Location.Name.ToSeoUrl() },
                                                { "categoryText", "" },
                                            })">
                                            <i class="fa fa-map-marker"></i>
                                            <span>@item.Location.Name</span>
                                        </a>
                                    </label>
                                }
                                <span>&nbsp;</span>
                                @if (item.RefCategory != null)
                                {
                                <label class="label label-success label-small">
                                    <a href="@Url.Action("Index", "Search", new RouteValueDictionary
                                            {
                                                { "locationText", "malaysia" },
                                                { "categoryText", @item.RefCategory.Name.ToSeoUrl() }
                                            })">
                                        <i class="fa fa-tag"></i>
                                        <span>@item.RefCategory.DisplayName</span>
                                    </a>
                                </label>
                                <span>&nbsp;</span>
                                    string conditionLabel = common.GetReferenceLabel(item.ConditionCode);
                                    if (!string.IsNullOrEmpty(conditionLabel))
                                    {
                                <label class="label label-color-2 label-small">
                                    @conditionLabel
                                </label>
                                    }
                                }
                            </div>

                            @*<span class="classified_links pull-right">
                                <a class="link-info underline" href="#">Share</a>&nbsp;
                                <a class="link-info underline" href="#">Add to favorites</a>
                                &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                                &nbsp;<a class="link-info underline" href="#">Contact</a>
                            </span>*@
                        </div>
                    </div>
                }

                <div class="pull-right">
                    @Html.PagedListPager(Model.Item1, page => Url.Action("Index",
                         new
                         {
                             page,
                             sort = ViewBag.CurrentSort,
                             Model.Item2.type,
                             Model.Item2.cid,
                             Model.Item2.lid,
                             Model.Item2.aid,
                             Model.Item2.Keyword
                         }))
                </div>
            }
        </div>

    </div>

</div>