
@using App.Ads.Code;
@using App.Ads.Code.Helpers;

@model Tuple<PagedList.IPagedList<App.Ads.ViewModel.SearchViewModel>, App.Core.Models.SearchModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

@section SearchBox{
@Html.Partial("~/Views/PartialView/_Searchbox.cshtml", @Model.Item2)
}

    <div class="row">
        <div class="col-sm-4  hidden-xs">
            <div class="sidebar ">
                <div class="row ">

                    <div class="col-sm-11 hidden-xs">
                        <a class="btn btn-primary pull-right" id="regionsBtn" style="width: 100%">Greater London  <span class="caret"></span></a>
                    </div>

                    <div data-backdrop="" id="regionsModal" class="bs-countries-modal-sm  hidden-xs" tabindex="-1" role="dialog" aria-labelledby="regionsModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="directory-counties">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class=""><a data-toggle="tab" href="#EN">England</a></li>
                                            <li class="active"><a data-toggle="tab" href="#WA">Wales</a></li>
                                            <li class=""><a data-toggle="tab" href="#SC">Scotland</a></li>
                                            <li class=""><a data-toggle="tab" href="#NI">Northern Ireland</a></li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">Other countries <b class="caret"></b></a>
                                                <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                                                    <li><a href="listings.html">USA</a></li>
                                                    <li><a href="listings.html">France</a></li>
                                                    <li><a href="listings.html">Germany</a></li>
                                                    <li><a href="listings.html">Spain and Portugal</a></li>
                                                    <li><a href="listings.html">Switzerland</a></li>
                                                    <li><a href="listings.html">Other Europe</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="tab-content " id="myTabContent">
                                            <div id="popular" class="tab-pane fade counties-pane">
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">London</a><br>
                                                            <a href="listings.html">Edinburgh</a><br>
                                                            <a href="listings.html">Manchester</a><br>
                                                            <a href="listings.html">Birmingham</a><br>
                                                            <a href="listings.html">Glasgow</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Liverpool</a><br>
                                                            <a href="listings.html">Bristol</a><br>
                                                            <a href="listings.html">Oxford</a><br>
                                                            <a href="listings.html">Cambridge</a><br>
                                                            <a href="listings.html">Cardiff</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Brighton</a><br>
                                                            <a href="listings.html">Newcastle-upon-Tyne</a><br>
                                                            <a href="listings.html">Leeds</a><br>
                                                            <a href="listings.html">York</a><br>
                                                            <a href="listings.html">Inverness</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Bath</a><br>
                                                            <a href="listings.html">Nottingham</a><br>
                                                            <a href="listings.html">Reading</a><br>
                                                            <a href="listings.html">Aberdeen</a><br>
                                                            <a href="listings.html">Chester</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div id="EN" class="tab-pane counties-pane">
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Avon</a><br>
                                                            <a href="listings.html">Bedfordshire</a><br>
                                                            <a href="listings.html">Berkshire</a><br>
                                                            <a href="listings.html">Buckinghamshire</a><br>
                                                            <a href="listings.html">Cambridgeshire</a><br>
                                                            <a href="listings.html">Cheshire</a><br>
                                                            <a href="listings.html">Cleveland</a><br>
                                                            <a href="listings.html">Cornwall</a><br>
                                                            <a href="listings.html">Cumbria</a><br>
                                                            <a href="listings.html">Derbyshire</a><br>
                                                            <a href="listings.html">Devon</a><br>
                                                            <a href="listings.html">Dorset</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Durham</a><br>
                                                            <a href="listings.html">East Sussex</a><br>
                                                            <a href="listings.html">Essex</a><br>
                                                            <a href="listings.html">Gloucestershire</a><br>
                                                            <a href="listings.html">Hampshire</a><br>
                                                            <a href="listings.html">Herefordshire</a><br>
                                                            <a href="listings.html">Hertfordshire</a><br>
                                                            <a href="listings.html">Isle of Wight</a><br>
                                                            <a href="listings.html">Kent</a><br>
                                                            <a href="listings.html">Lancashire</a><br>
                                                            <a href="listings.html">Leicestershire</a><br>
                                                            <a href="listings.html">Lincolnshire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">London</a><br>
                                                            <a href="listings.html">Merseyside</a><br>
                                                            <a href="listings.html">Middlesex</a><br>
                                                            <a href="listings.html">Norfolk</a><br>
                                                            <a href="listings.html">Northamptonshire</a><br>
                                                            <a href="listings.html">Northumberland</a><br>
                                                            <a href="listings.html">North Humberside</a><br>
                                                            <a href="listings.html">North Yorkshire</a><br>
                                                            <a href="listings.html">Nottinghamshire</a><br>
                                                            <a href="listings.html">Oxfordshire</a><br>
                                                            <a href="listings.html">Rutland</a><br>
                                                            <a href="listings.html">Shropshire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Somerset</a><br>
                                                            <a href="listings.html">South Humberside</a><br>
                                                            <a href="listings.html">South Yorkshire</a><br>
                                                            <a href="listings.html">Staffordshire</a><br>
                                                            <a href="listings.html">Suffolk</a><br>
                                                            <a href="listings.html">Surrey</a><br>
                                                            <a href="listings.html">Tyne and Wear</a><br>
                                                            <a href="listings.html">Warwickshire</a><br>
                                                            <a href="listings.html">West Midlands</a><br>
                                                            <a href="listings.html">West Sussex</a><br>
                                                            <a href="listings.html">West Yorkshire</a><br>
                                                            <a href="listings.html">Worcestershire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="WA" class="tab-pane counties-pane active in">
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Clwyd</a><br>
                                                            <a href="listings.html">Dyfed</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Gwent</a><br>
                                                            <a href="listings.html">Gwynedd</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Mid Glamorgan</a><br>
                                                            <a href="listings.html">Powys</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">South Glamorgan</a><br>
                                                            <a href="listings.html">West Glamorgan</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="SC" class="tab-pane counties-pane">
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Aberdeenshire</a><br>
                                                            <a href="listings.html">Angus</a><br>
                                                            <a href="listings.html">Argyll</a><br>
                                                            <a href="listings.html">Ayrshire</a><br>
                                                            <a href="listings.html">Banffshire</a><br>
                                                            <a href="listings.html">Berwickshire</a><br>
                                                            <a href="listings.html">Bute</a><br>
                                                            <a href="listings.html">Caithness</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Clackmannanshire</a><br>
                                                            <a href="listings.html">Dumfriesshire</a><br>
                                                            <a href="listings.html">Dunbartonshire</a><br>
                                                            <a href="listings.html">East Lothian</a><br>
                                                            <a href="listings.html">Fife</a><br>
                                                            <a href="listings.html">Inverness-shire</a><br>
                                                            <a href="listings.html">Kincardineshire</a><br>
                                                            <a href="listings.html">Kinross-shire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Kirkcudbrightshire</a><br>
                                                            <a href="listings.html">Lanarkshire</a><br>
                                                            <a href="listings.html">Midlothian</a><br>
                                                            <a href="listings.html">Moray</a><br>
                                                            <a href="listings.html">Nairnshire</a><br>
                                                            <a href="listings.html">Orkney</a><br>
                                                            <a href="listings.html">Peeblesshire</a><br>
                                                            <a href="listings.html">Perthshire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Renfrewshire</a><br>
                                                            <a href="listings.html">Ross-shire</a><br>
                                                            <a href="listings.html">Roxburghshire</a><br>
                                                            <a href="listings.html">Selkirkshire</a><br>
                                                            <a href="listings.html">Shetland</a><br>
                                                            <a href="listings.html">Stirlingshire</a><br>
                                                            <a href="listings.html">Sutherland</a><br>
                                                            <a href="listings.html">West Lothian</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Wigtownshire</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="NI" class="tab-pane counties-pane">
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Antrim</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Armagh</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Down</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Fermanagh</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Londonderry</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="row directory-block">
                                                        <div class="col-sm-12">
                                                            <a href="listings.html">Tyrone</a><br>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">Refine category</div>
                            <div class="panel-body">
                                @*@Html.Partial("~/Views/PartialView/_RefineCategory.cshtml", new ViewDataDictionary { { "categories", ViewData["categories"] } })*@
                                @Html.Partial("~/Views/PartialView/_RefineCategory.cshtml", ViewData["categories"])
                                @*<ul class="nav nav-category">
                                    <li>
                                        <a class="active" href="category.html">All categories</a>
                                   
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">Location</div>
                            <div class="panel-body">
                                <ul class="nav">
                                    <li>
                                        <a class="active" href="category.html">Greater London (12)</a>
                                        <ul>
                                            <li><a href="listings.html"> - Central London (11)</a></li>
                                            <li><a class="active" href="listings.html"> - East London (1)</a></li>
                                            <li><a class="active" href="listings.html"> - North London (1)</a></li>
                                            <li><a class="active" href="listings.html"> - North London (1)</a></li>
                                            <li><a class="active" href="listings.html"> - North West London  (1)</a></li>
                                            <li><a class="active" href="listings.html"> - South East London  (1)</a></li>
                                            <li><a class="active" href="listings.html"> - South West London  (1)</a></li>
                                            <li><a class="active" href="listings.html"> - West London  (1)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="category.html">Brighton (5)</a></li>
                                    <li><a href="category.html">Cambridge (2)</a></li>
                                    <li><a href="category.html">Essex (2)</a></li>
                                    <li><a href="category.html">Guildford (2)</a></li>
                                    <li><a href="category.html">Kent (2)</a></li>
                                    <li><a href="category.html">Luton (2)</a></li>
                                    <li><a href="category.html">Milton Keynes (2)</a></li>
                                    <li><a href="category.html">Oxford (2)</a></li>
                                    <li><a href="category.html">Reading (2)</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>

        <div class="col-sm-8 pull-right listings">

            <div class="row listing-row" style="margin-top: -10px;">
                <div class="pull-left">
                    <strong>Today, Saturday 14th September</strong>
                </div>
                <div class="pull-right">
                    <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sort from newest to oldest"> Date <i class="fa fa-chevron-up"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sort from lowest price to highest price"> Price <i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            @foreach (var item in Model.Item1)
            {
                <div class="row  listing-row">
                    <div class="col-sm-3">

                        <a href="details.html" class="thumbnail ">
                            <img src="@ListingHelper.FormatImage(item.CoverImage, "s1")" alt="@item.Title" style="max-height:130px;" onerror="imgError(this, 190, 130)">
                        </a>
                    </div>

                    <div class="col-sm-9">
                        <h3>
                            <a href="ad/@item.id/@item.Title.ToSeoUrl()">@Html.DisplayFor(m => item.Title) - <strong>@ListingHelper.FormatPrice(item.Price)</strong></a>
                        </h3>
                        @if(item.RegionZone != null)
                        {
                            <p class="muted">Located in <strong>@ListingHelper.FormatLocation(item.RegionZone.Name, item.ParentLocation)</strong></p>
                        }
                        <p class="muted">Posted @item.CreateDate.ToString("MMMM d, yyyy") 
                            to
                            @if(item.RefCategory != null)
                            { 
                                <a href="#" class="underline">@item.RefCategory.Name</a>
                            }
                        </p>
                        <p>
                            @ListingHelper.FormatDescription(item.Description, 230)
                        </p>
                        @*<p class="ad-description">
                            <strong>2006</strong> |

                            <strong>98,000 miles</strong> |

                            <strong>2,696 cc</strong> |

                            <strong>Diesel</strong>
                        </p>*@
                        <br />
                        <p>
                            <span class="classified_links pull-right">
                                <a class="link-info underline" href="#">Share</a>&nbsp;
                                <a class="link-info underline" href="#">Add to favorites</a>
                                &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                                &nbsp;<a class="link-info underline" href="#">Contact</a>
                            </span>
                        </p>
                    </div>
                </div>
            }


            <div class="pull-right">
                @*Page @(Model.Item1.PageCount < Model.Item1.PageNumber ? 0 : Model.Item1.PageNumber) of @Model.Item1.PageCount*@
                @Html.PagedListPager(Model.Item1, page => Url.Action("Index",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

        </div>

    </div>